cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
connect-sdk-python2==1.0.0
cryptography==0.6.1
decorator==3.4.0
defusedxml==0.4.1
Django==1.10.1
docutils==0.12
html5lib==0.999
ipython==2.3.0
isort==4.2.5
Jinja2==2.7.3
lxml==3.6.0
MarkupSafe==0.23
MySQL-python==1.2.3
ndg-httpsclient==0.3.2
pexpect==3.2
Pillow==2.6.1
ply==3.4
pyasn1==0.1.7
pycparser==2.10
pycurl==7.19.5
Pygments==2.0.1
PyOpenGL==3.0.2
pyOpenSSL==0.14
pypyodbc==1.3.4
Pyrex==0.9.8.5
python-apt==0.9.3.12
python-debian==0.1.27
python-debianbts==1.11
pyzmq==14.4.0
reportbug==6.6.3
requests==2.11.1
roman==2.0.0
simplegeneric==0.8.1
six==1.8.0
SOAPpy==0.12.22
tornado==3.2.2
urllib3==1.9.1
virtualenv==15.1.0
wstools==0.4.3
